.profil-page {
  display: flex;
}

.img-container {
  width: 100px;
  height: auto;
}
.connection-form {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(196, 109, 109);
  width: 500px;
  height: 500px;
}

ul > li {
  list-style-type: none;
  padding: 15px;
  text-align: center;
}

li:hover {
  border: 1px solid rgb(128, 26, 0);
  background-color: rgb(209, 119, 119);
  box-shadow: 0px 2px 4px 1px;
  border-radius: 50px;
  text-align: center;
}

.active-btn {
  background-color: orange;
  border-radius: 25px;
}

body {
  background-color: grey;
}

.item-connection {
  border-top: 4px solid yellow;
}

form {
  border: 1px solid;
}

.item-form {
  color: white;
  width: 50px;
}

.logo {
  width: 200px;
  display: flex;
}

.logout {
  width: 50px;
  border: 1px solid rgb(128, 26, 0);
}
