body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100px;
}

.profil-page,
.logo,
.log-container,
.nav-container {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  align-items: center;
}

.log-container {
  border: 1px solid black;
}

li {
  list-style-type: none;
  margin: 15px;
}

ul {
  align-items: center;
  border: rgb(197, 19, 49) solid 3px;
  flex-wrap: wrap;
  padding: 0;
  display: flex;
}

.nav-container {
  align-items: center;
  border-bottom: 1px solid;
}

i {
  font-size: 30px;
}

button {
  background-color: aquamarine;
}

/********LeftNav.js***************/

.left-nav-container {
  background-color: rgb(231, 128, 128);
  border-radius: 25px;
  width: 100px;
}

/***************UpdateProfil.js*****************/

.profil-container {
  background-color: brown;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
}

.profil-container h1 {
  width: 50%;
  text-align: center;
  margin: auto;
}
.right-part {
  width: 100%;
}

.icons {
  padding: 20px;
}

i {
  padding: 15px;
}

h1 {
  background-color: orange;
}

.card-container {
  background-color: rgb(218, 169, 169);
  border-radius: 25px;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto 50px;
}

.card-right {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid blueviolet;
  border-radius: 25px;
}

.update-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 50px;
}

.left-part,
.right-part {
  background-color: rgb(175, 98, 98);
}

.left-part {
  border: 1px solid black;
  padding-right: 10px;
}

.right-part {
  border: 1px solid black;
}

.card-footer {
  display: flex;
}

.pseudo h3 {
  text-align: center;
}

.pseudo {
  display: flex;
}

p {
  width: 100%;
}

.card-header {
  margin: auto;
}

.thread-container {
  width: 900px;
}
.home {
  display: flex;
  justify-content: center;
}

.card-right p {
  text-align: center;
}

.button-container {
  width: 66px;
}

.fa-check {
  border-radius: 50%;
  border: 1px solid black;
  padding: 0;
}

.icon-checked {
  background-color: green;
  padding: 0;
}

.pseudo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-comment {
  border: 1px solid black;
}
