.trending-page {
  display: flex;
  justify-content: space-evenly;
}

.trending-container {
  border: pink 2px solid;
  margin-bottom: 25px;
}
.trending-container ul li {
  border: 1px solid;
  margin: 15px 0;
  padding: 0 5px;
}

/***********************/
.get-friends-container {
  border: purple 2px solid;
}

.get-friends-container ul li {
  border: 1px solid;
  margin: 15px 0;
}
