.post {
  margin: 15px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px;
  border: 1px solid black;
  width: 25%;
}

.post h1 {
  font: inherit;
  font-size: 1.3rem;
}

.post img {
  margin: 1rem 2rem 0rem;
  height: 5rem;
}

.post p:nth-child(2n) {
  color: black;
  font-weight: bold;
  margin-top: 0.5rem;
}

.post button {
  margin-top: 1.5rem;
  margin-right: 0.5rem;
}
