.button {
  font: inherit;
  background-color: brown;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: 1px solid rgb(32, 105, 117);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(238, 200, 200);
  color: black;
  border: 1px solid rgb(67, 183, 201);
}
